name: Publish formatter npm package

on:
  workflow_dispatch:

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"
      - name: Install Dependencies
        run: npm install
        working-directory: ./npm-pkgs/livon-formatter
      - name: Build
        run: npm run build
        working-directory: ./npm-pkgs/livon-formatter
      - name: Log in to npm
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - name: Publish npm package
        run: |
          # Remove --tag beta before final release
          npm publish --tag beta
        working-directory: ./npm-pkgs/livon-formatter
